@import "~bootstrap/scss/bootstrap.scss";

.top-traffic-light{
    background-color: black;
}

.bottom-traffic-light{
    flex-direction: column;
    display: flex;
    background-color: black;
    border-radius: 20%;
    width: 500px;
    height: 900px;
}

.redLight{
    background-color: red;
    border-radius: 100%;
    height: 300px;
}
    
.yellow-light{
    background-color: yellow;
    border-radius: 100%;
    height: 300px;
    
}
.green-light{
    background-color: green;
    border-radius: 100%;
    height: 300px;
}

.selected{
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    


